body{
	font-family:'Open Sans', sans-serif !important;
	background-color: #eee !important;
}
header{
	background-color: #fff;
}
.top-bar{
	margin: 25px 10px;
}
.top-left{
	margin-left: 0px;
}
.top-left img{
	float: left;
	margin-left: 45px;
}
.top-left button{
	background: transparent;
	font-weight: bold;
	font-size: 14px;
	padding: 3px 20px;
	
} 
.top-left button span{
	padding-left: 6px;
	position: relative;
    top: 1px;
}
.left-border{
	height: 19px;
    border-right: 2px solid #eee;
    display: inline-block;
    float: left;
    position: relative;
    top: 5px;
	padding: 0 10px;
}
.top-middle{
	border-bottom: 2px solid #eee;
    padding-bottom: 15px;
}
.search{
	opacity: 0.5;
}
.empty{
	font-family: 'Open Sans', sans-serif;
	border: none;
    padding-left: 10px;
    font-size: 13px;
    font-weight: bold;
    color: #000;
	opacity: 0.5;
}
.top-right i{
	opacity: 0.5;
	padding: 0 30px 0 0px;
    font-size: 21px;
    float: right;
}
.icon-holder{
	margin-right: 45px;
}
.first-menu ul{
	list-style: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
}
.first-menu ul li{
	float: left;
	padding: 0 14px;
	color: #c5c5c5;
}
.first-menu ul li.active{
	color: #000;
}
.third-menu{
	background-color: #f6a61f;
    padding: 20px 0px;
    margin-top: 20px;
}
.right-menu{
	
}
.right-menu ul{
	list-style: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	float: left;
	margin-left: 45px;
}
.right-menu ul li{
	float: left;
	padding: 0 25px;
}
.left-name{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	float: left;
	text-align: center;
}
.carousel-control.right,.carousel-control.left{
	background-image: none !important;
}
.carousel a{
	height: 100%;
	width: 30px;
}
	
.carousel-control .flickity-button-icon{
	position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
	opacity: 0.5;
    /* display: inline-block; */
}
.carousel-control .previous{
	left: 40px;
}
.carousel-control .next{
	right: 40px;
}
.carousel-indicators li{
    width: 35px !important;
    height: 2px !important;
    border: none !important;
    border-radius: 0 !important;
	background-color: #c5c5c5 !important;
	margin-right: 10px !important;
}
.carousel-indicators .active{
	background-color: #615656 !important;
	opacity: 1;
}
.about1{
	background-color: #fff;
	margin-top: 120px;
}
.about1 img{
	padding-left: 20px;
    position: relative;
    top: -40px;
}
.about1-right h3{
	font-size: 16px;
    font-weight: bold;
	animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari and Chrome */
    -o-animation: fadein 5s; /* Opera */
}
.about1-right{
	margin: 8% 0;
}
.about1-right p{
	line-height: 30px;
	font-weight: bold;
	color: #c5c5c5;
    font-size: 12px;
	animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
.about1-right .text{
	display: flex;
}
.about1-right span{
	border-left: 2px solid #f6a61f;
    margin-right: 20px;
    display: inline;
	height: 45px;
    position: relative;
    top: 8px;
	animation: fadein 10s;
    -moz-animation: fadein 10s; /* Firefox */
    -webkit-animation: fadein 10s; /* Safari and Chrome */
    -o-animation: fadein 10s; /* Opera */
}

/*Product filter*/

.portfolioFilter {
  padding: 15px 0;
}

.portfolioFilter a {
  margin-right: 45px;
  color: #c5c5c5;
  text-decoration: none;
  padding: 4px 0px;
  border-radius: 50px;
  display: inline-block;
  font-weight: bold;
  font-size: 13px;
}

.portfolioFilter a.current {
  border-bottom: 2px solid #f6a61f;
  border-radius: 0;
  color: #000;
}
.portfolioContainer{
  border: 1px solid #eee;
  border-radius: 3px;
}
img {
  margin: 5px;
  max-width:100%;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}
.filter-product{
	margin-top: 50px;
}
.portfolioContainer{
	margin-top: 90px;
}
.portfolioContainer .col-md-3{
	background-color: #fff;
	border-right: 2px solid #eee;
}
.product-top{
	margin: 40px 0 20px;
	text-align: center;
}
.product-bottom{
	text-align: center;
	margin-bottom: 80px;
}
.product-bottom p{
	color: #b1adad;
    font-size: 13px;
    font-weight: bold;
	margin-bottom: 25px;
}
.product-bottom b{
	color: #000;
}
.product-bottom .price{
	font-size: 13px;
}
.dots{
	text-align: center;
	margin: 20px 0;
	min-height: 20px;
}
.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.m-b-120{
	margin-bottom: 120px;
}
.m-l-70{
	margin-left: 70px;
}
footer{
	background-color: #fff;
}
.footer-top{
	padding-top: 120px;
	padding-bottom: 120px;
}
.footer-top h4{
    font-size: 12px;
    font-weight: bold;
}
.footer-top ul{
	list-style: none;
    padding-left: 0;
    line-height: 35px;
    color: #b1adad;
    font-size: 11px;
    font-weight: bold;
}	
.inner-row{
	width: 15%;
	float:left;
}
.no-padding-left{
	padding-left: 0 !important;
}
.footer-bottom{
	padding-top: 45px;
	padding-bottom: 20px;
    border-top: 1px solid #eee;
}
.footer-bottom ul{
	list-style: none;
	display: inline-block;
	padding-left: 0;
	float: left;
	font-size: 12px;
    font-weight: bold;
    color: #b1adad;
}
.footer-bottom ul li{
	float: left;
	padding-right: 35px;
}
.footer-bottom .dropdown button{
	background: none;
    border: 1px solid #eee;
	font-size: 11px;
    color: #b1adad;
    font-weight: bold;
}
.no-padding-right{
	padding-right: 0 !important;
}
.footer-bottom .dropdown img{
	float: left;
}
.footer-bottom .dropdown .icon-bottom{
	padding-left: 8px;
    display: inline-block;
    padding-top: -10px;
    font-size: 10px;
}
.footer-bottom .dropdown p{
	display: inline-block;
	padding-top: 3px;
}

.dropdown-menu > li {
    display: inline-block;
    float:left;
	padding: 15px 40px 0 50px;
}
.open > ul {
    display: inline-flex !important;
	border: none;
	position: absolute;
    left: -15px;
    top: 50px;
	padding: 35px 84px;
}
.top-bar .dropdown img{
	margin-left: 0;
    margin-bottom: 15px;
    float: none;
    height: 50px;
    width: 100%
}
.hidden{
	
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

a:focus, a:hover{
	color: #c5c5c5 !important;
	text-decoration: none !important;
}
.first-menu a{
	color: #c5c5c5 !important;
}
